{{- if and .Values.vpn.wireguard.enabled .Values.vpn.wireguard.config (not .Values.vpn.wireguard.existingSecret) (not .Values.vpn.wireguard.existingConfigMap) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "qbittorrent.fullname" . }}-wg
  labels:
    {{- include "qbittorrent.labels" . | nindent 4 }}
data:
  wg0.conf: |
    {{- .Values.vpn.wireguard.config | nindent 4 }}
{{- end}}
