{{- if and (not .Values.secret.existingSecret) (or .Values.server.password .Values.server.adminPassword) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "palworld-server.fullname" . }}
  labels:
    {{- include "palworld-server.labels" . | nindent 4 }}
  {{- with .Values.secret.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{- if .Values.server.password }}
  SERVER_PASSWORD: {{ .Values.server.password | b64enc }}
  {{- end }}
  {{- if .Values.server.adminPassword }}
  ADMIN_PASSWORD: {{ .Values.server.adminPassword | b64enc }}
  {{- end }}
{{- end }}
